<launch>
    <node pkg="rosbag" type="play" name="rosbag" required="true" args="/home/houlam/catkin_cvbridge/2021-04-21-18-20-13.bag"/>
    <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/camera/color/image_raw"/>
    <param name="sec_per_frame" value="1"/>
    </node>
</launch>
